
/* START PAGE */
body{
 
    background: url(photo/Startbackground.jpg)  center top no-repeat;
    background-size: cover;
}

/* HEADER */
.navbar{
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0.8rem;
}
.logo{
    display: grid;
    place-content: center;
    animation: slideRight 0.6s ease forwards;
    margin-bottom: 30px;
    width: 400px;
}

h1{
    margin-top: 100px;
    font-family: 'Silkscreen',sans-serif;
    text-shadow: 2px 2px 3px rgb(8, 8, 8);
    text-align: center;
    font-size: 40px;
    color: #DF5873;
}

.playButton{
    background-color: #DF5873;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px 16px;
    text-shadow: 2px 2px 3px rgb(8, 8, 8);;
    font-family: 'Silkscreen',sans-serif;
    font-size: large;
    font-weight: bold;
    margin-top: 270px;
    margin-left: 115px;
}

.playButton:hover{
    background-color: #e1778c;
}
/* END OF START PAGE */
